* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: Tahoma;
  color: white;
  position: relative;
  background-color: #0e0014;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: 100vh;
}

header .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 2rem 4rem;
  position: relative;
}

header .container .logo {
  font-size: 17px;
  position: absolute;
  font-weight: bold;
  top: 10%;
  left: 10%;
}

#menu_bar {
  display: none;
  font-size: 30px;
  cursor: pointer;
  transition: .4s ease;
}

header .container .info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px 20px;
  width: 40%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.288);
  transition: .4s ease;
  display: block;
}

@media (max-width: 700px) {
  header .container .info {
    width: 60%;
    transform: translateX(100%);
    background-color: rgba(0, 0, 0, 0.888);
  }

  #menu_bar {
    display: block;
  }
}

@media (max-width: 900px) {
  header .container .info {
    width: 60%;
    z-index: 2;
  }
}

header .container .info .search {
  padding: 1.2rem 0 2rem;
}


header .container .info .search input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.319);
  padding: 10px 20px;
  color: white;
  width: 75%;
  transition: .6s;
}

header .container .info .search input:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

header .container .info .search :focus {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

header .container .info .search input::placeholder {
  color: rgba(255, 255, 255, 0.374);
  font-weight: 100;
  transition: .3s;
}

header .container .info .search input:hover::placeholder {
  opacity: 0;
}

header .container .info .search input:focus::placeholder {
  opacity: 0;
}


header .container .info .search i {
  background-color: #aabef74d;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  font-weight: 100;
  padding: 36px;
  cursor: pointer;
  transition: .3s;
}

@media (max-width: 700px) {
  header .container .info .search i {
    padding: 20px;
  }
}


header .container .info .search i:hover {
  background-color: #aabff797;
}

.last_city {
  padding-bottom: 30px;
}

.last_city ul li {
  padding: 20px 2px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: .3s;
  text-transform: capitalize;
}

.last_city ul li:hover {
  color: white;
}

.weather_details {
  border-top: 1px solid rgba(255, 255, 255, 0.319);
  border-bottom: 1px solid rgba(255, 255, 255, 0.319);
  padding: 23px 0;
  color: rgb(232, 232, 232);
}

.weather_details h2 {
  padding: 10px 0 20px;
  font-weight: 100;
}

.weather_details li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.weather_details span:nth-child(1) {
  color: rgba(255, 255, 255, 0.6);
  transition: .3s;
  cursor: pointer;
  text-transform: capitalize;
}

.weather_details span:nth-child(1):hover {
  color: rgba(255, 255, 255, 1);
}

/* start hero */
.hero .container {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 7rem;
  padding: 2rem 4rem;
  gap: 40px;
}

@media (max-width: 700px) {
  .hero .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1100px) {
  .hero .container {
    bottom: 0;
    gap: 20px;
    row-gap: 50px;
  }
}
@media (max-width: 700px) {
  .hero {
    position: absolute;
    top: 60%;
  }
  .hero .container {
    bottom: 0;
    gap: 20px;
    row-gap: 50px;
  }
}

.hero .container h1 {
  font-size: calc(1rem + 2rem);
  margin: 0;
}

.hero .container .name {
  text-align: center;
}

.hero .container .name h1 {
  font-size: calc(1rem + 2rem);
  font-weight: 100;
  margin: 0;
}

.hero .container .time {
  font-size: 18px;
}

.hero .container .weather div{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.hero .container .weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .container .weather i {
  font-size: calc(2rem + 2vw);
}

.hero .container .weather span {
  font-size: calc(1rem + 2vw);
}

/* animation when change city */
.fade-in {
  animation: fade-in 1.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



/* loader */
.spinner {
   position: absolute;
   left: 50%;
   top: 90%;
   opacity: 0;
   width: 56px;
   height: 56px;
   display: grid;
   border: 4.5px solid #0000;
   border-radius: 50%;
   border-color: #dbdcef #0000;
   animation: spinner-e04l1k 1s infinite linear;
   z-index: 5;
}

.spinner::before,
.spinner::after {
   content: "";
   grid-area: 1/1;
   margin: 2.2px;
   border: inherit;
   border-radius: 50%;
}

.spinner::before {
   border-color: #474bff #0000;
   animation: inherit;
   animation-name: spinner-e04l1k;
   animation-duration: 0.5s;
   animation-direction: reverse;
}

.spinner::after {
   margin: 8.9px;
}

@keyframes spinner-e04l1k {
   100% {
      transform: rotate(1turn) ;
   }
}

.shad-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
}

/* background */

.container__background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
